.dialogs_list_global_container {
  height: 90% !important;
  .search_dialogs_in_group {
    .form-group {
      display: flex;
      margin-bottom: 0;
      .search_prepend_in {
        background-color: #0075ff;
        border-radius: 0;
        border: none;
      }
    }
    .form-control {
      border-radius: 0;
      border: 0;
      background-color: #0075ff;
      color: white;
      &::placeholder {
        color: whitesmoke;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  border-radius: 10px;
  padding: 0;
  background-color: white;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
  background-clip: border-box;
  font-size: 3rem;
  .dialog_list_humon_container {
    padding: 0;
    margin: 0;
  }
  .dialog_list_humon_active,
  .dialog_list_humon {
    transition: background-color 0.6s;
    height: 10% !important;
    color: #9a9ea0;
    display: flex;
    align-items: center;
    font-size: calc(12px + 0.2vw);
    justify-content: space-between;
    .online::before {
      content: "";
      position: absolute;
      background-color: rgb(36, 224, 108);
      width: 10px;
      height: 10px;
      margin-left: 34px;
      margin-top: 32px;
      border-radius: 100%;
      z-index: 1000;
    }
    .name_surname {
      color: black;
    }
    &:hover {
      color: white;
      background-color: #0075ff;
      .name_surname {
        color: white;
      }
    }
  }
  .dialog_list_humon_active {
    color: white;
    background-color: #0075ff;
    .name_surname {
      color: white;
    }
  }
}
