.global_profile_container {
  height: 90vh;
  color: white;
  display: flex;
  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: auto;
    height: 100% !important;
    .modal-content {
      height: 100% !important;
      width: 100%;
      border: none;
      background: transparent;
      padding: 0;
      display: flex;
      justify-content: center;
      .modal-body {
        width: 100%;
        padding: 0;
      }
      .prt {
        text-align: center;
      }
    }
  }
  .profile_avatar_edit {
    // height: 80vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    input {
      display: none;
    }
    .avatar_container {
      position: relative;
      border-radius: 100%;
      overflow: hidden;
      .avatar {
        width: 100%;
        transition: 0.8s;
        backface-visibility: hidden;
      }
    }
    .down {
      bottom: 0px;
      transition: 0.5s ease;
      opacity: 0;
      width: 100%;
      height: 100% !important;
      position: absolute;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      label {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        div {
          cursor: pointer;
          text-align: center;
          color: white;
          background-color: rgba($color: #535050, $alpha: 0.4);
          width: 100%;
          padding: 7px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .avatar_container:hover .down {
    opacity: 1;
  }
}

.info_reviews {
  width: 70%;
  overflow-x: scroll;
  display: flex;
  height: 90vh;
  align-items: center;
  &::-webkit-scrollbar {
    width: 0px;
  }
  .info_header,
  .reviews_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #535050;
    color: black;
    font-weight: 700;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 30px;
  }
  .info,
  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }
  .reviews {
    .reviews_container {
      height: 50vh;
      overflow-y: scroll;
      padding-left: 10px;
      padding-right: 10px;
      .review_header {
        color: gray;
        display: flex;
      }
      .review {
        background-color: white;
        border-radius: 4px;
        margin-top: 8px;
        padding: 4px;
        color: black;
      }
    }
    .reviews_input_container {
      background-color: black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      padding: 4px;
      input {
        width: 80%;
        font-size: 1.2rem;
        color: white;
        padding: 0;
        background-color: transparent;
        background-clip: padding-box;
        border: 0;
        border-radius: 0;
        transition: none;
        resize: none;
        height: 100% !important;
      }
      input:focus {
        outline: none;
      }
      input::placeholder {
        color: #e7e7e7;
      }
      .reviews_stars {
        font-size: 14px;
        .fa-star {
          margin: 2px;
        }
      }
      .paper_plane:hover {
        color: #0075ff;
      }
    }
  }
}

.name_user_form {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: black;
  .name_surname {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .user_form {
    margin-bottom: 30px;
    width: 43%;
    .name_form_title {
      font-size: 16px;
      font-weight: 400;
    }
    .name_form_value {
      margin-top: 10px;
      font-size: 15px;
      border-radius: 3px;
      border: 1px solid #c1b7c8;
      padding: 7px;
      font-weight: 300;
    }
  }
  .full_user_form {
    width: 90%;
    // display: flex;
    margin-left: 5%;
    // justify-content: space-around;
    margin-bottom: 30px;
    .full_user_title {
      font-size: 16px;
      font-weight: 400;
    }
    .full_user_value {
      margin-top: 10px;
      font-size: 15px;
      border-radius: 3px;
      border: 1px solid #c1b7c8;
      padding: 7px;
      font-weight: 300;
    }
  }
}
