.g_global_registration_container {
  display: flex;
  height: 100% !important;
}
.global_registration_container {
  background-color: #05396b;
  align-items: center;
  text-align: center;
  border-radius: 1vw;
  margin-top: 2vw;
  padding: 2vw;
  color: white;
  height: 85% !important;
}

.registration_form {
  height: 100% !important;
  opacity: 1;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button {
    background-color: #5cdb94;
    color: white;
    &:hover {
      background-color: #5cdb94;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}
.lessons_choice_container {
  opacity: 1;
  transition: opacity 1s;
  height: 100% !important;
  // background-color: brown;
  .tittle {
    height: 6% !important;
    font-weight: 700;
    // font-size: large;
    // font-size: 120%;
    text-transform: uppercase;
    // background-color: cadetblue;
  }
  .draggable_elements {
    height: 45% !important;
    // background-color: rosybrown;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    .draggable_elements_i {
      height: 20% !important;
      // margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .draggable {
      font-weight: 900;
      width: 31%;
      height: 100% !important;
      border: #5cdb94 solid 3px;
      border-radius: 4px;
      transition: 0.3s;
      cursor: grab;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .draggable.dragged {
      user-select: none;
      opacity: 0.1;
      cursor: default;
    }
  }

  .droppable_elements {
    margin-top: 2%;
    height: 43% !important;
    // background-color: black;
    .droppable {
      width: 100%;
      height: 50% !important;
      .droppable_t {
        height: 15% !important;
        font-weight: 700;
      }
      .droppable_e_g_container {
        border-radius: 4px;
        height: 74% !important;
        overflow: hidden;
        border: springgreen solid 3px;
        background-color: #042d53;
        padding: 0;
        .droppable_e_container_1,
        .droppable_e_container_2 {
          width: 100%;
          height: 50% !important;
          background-color: #042d53;
          display: flex;
          text-align: center;
        }
        // .droppable_e_container_1 {
        // border: springgrelen solid 3px;
        //   border-bottom: 0;
        // }
        // .droppable_e_container_2 {
        //   border: springgreen solid 3px;
        //   border-top: 0;
        // }
      }
      .draggable {
        width: 33.3%;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        display: flex;
        border-right: #5cdb94 solid 2px;
        border-bottom: #5cdb94 solid 2px;
        transition: 0.3s;
      }
    }
  }
  .buttons_container {
    height: 6% !important;
    // background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    button {
      height: 100% !important;
      width: 40%;
      color: white;
      text-transform: initial;
      background-color: #5cdb94;
    }
  }
}

.fade {
  opacity: 0;
}
