.login_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login {
  background: linear-gradient(#2069fd, #c223ff);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px 20px 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  height: 40vh;
  .login_form_in_container {
    border-radius: 6px;
    overflow: hidden;
    width: 80%;
    color: #757575;
    background-color: white;
    display: flex;
    .login_form_in_icon {
      padding: 0.375rem 0.75rem;
      font-weight: 700;
      font-size: 18px;
      border-right: 1px #757575 solid;
    }
    .field_label {
      font-size: 18px;
      font-weight: 700;
    }
    .login_form_in {
      padding: 0.375rem 0.75rem;
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
    .registration_valid_error {
      border: 1px solid red;
      color: red;
      font-weight: 600;
      font-size: small;
      width: 50%;
      position: absolute;
      border-radius: 5px;
      margin-top: 2px;
      left: 25%;
    }
    .registration_form_in:focus {
      outline: none;
    }
  }
  button {
    background-color: #5cdb94;
    color: white;
    width: 80%;
    &:hover {
      background-color: #5cdb94;
    }
  }
}
