.app-wrapper {
  background-color: #f5f5f5;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

button:focus {
  outline: none;
}

.app_wraper_content {
  height: 100vh;
  padding: 0;
  color: black;
}
// label {
//   display: inline-block;
//   position: relative;
//   width: 150px;
//   height: 150px;
//   cursor: pointer;
//   overflow: hidden;
// }

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* firefox */
input[type="color"]::-moz-focus-inner {
  border: none;
  padding: 0;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  height: 40px;
}
