.app-wrapper {
  // text-align: center;
  // max-width: 1080px;
  // max-height: 1920px;
  // background-image: url("https://cdn.iz.ru/sites/default/files/styles/900x506/public/news-2020-07/20160912_gaf_uw8_264.jpg?itok=P_ymZcpf");
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.app_wraper_content {
  height: 100vh;
  padding: 0;
  // margin: 0;
}
