.app-wrapper {
  // text-align: center;
  // background-color: #eaeaea;
  // background-color: #5cdb94;
  background-color: #18191a;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

button:focus {
  outline: none;
}

.app_wraper_content {
  height: 100vh;
  padding: 0;
  // margin: 0;
  color: black;
}
.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #90caf2;
  pointer-events: none;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: initial;
  background-image: none !important;
  color: initial;
}

audio::-webkit-media-controls {
  width: inherit;
  height: inherit;
  position: relative;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
audio::-webkit-media-controls-enclosure {
  width: 100%;
  max-width: 800px;
  height: 30px;
  flex-shrink: 0;
  bottom: 0;
  text-indent: 0;
  padding: 0;
  box-sizing: border-box;
}
